body {
  background: black);
  font-family: arial;
  color: rgb(32, 11, 131);
}

#container {
  min-width: 100px;
  width: 1600px;
  height: auto;
  margin: 0px auto;
  padding: 20px;
}

#header {
  margin-top: 10px;
}

#menu {
  background: rgb(46, 41, 50);
  padding: 5px 5px;
  overflow: hidden;
  display: block;
}

#user a {
  color: white;
  padding: 5px;
  text-decoration: none;
}#user :hover {background: #7e71e3;}

#button_keranjang {
    float: right;
    background: rgb(207, 215, 204);
    padding: 5px 5px;
    border-radius: 3px;
	display: block;
    vertical-align: baseline;
}

#button_keranjang img {
  vertical-align: bottom;
}

#footer {
  background: rgb(46, 41, 50);
}

#footer p {
  color: white;
  text-align: right;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
}

#content {
  padding: 10px 0px;
  overflow: hidden;
}

#container-user-akses {
    width: 300px;
    height: auto;
    margin: 50px auto;
}

.element-form {
    margin-bottom: 20px;
}

.element-form label {
    display: block;
    font-weight: bold;
}

.element-form span {
    display: block;
}

.element-form span input[type='text'],
.element-form span input[type='password'],
.element-form span textarea,
.element-form span select
 {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.element-form span input[type='submit']{
  background: rgb(62, 94, 208);
  border: none;
  padding: 7px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;

} .element-form span input[type='submit']:hover { background: orange;}

.notif {
    background: rgb(255, 135, 221);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
    font-size: 13px;
}

#user {
	color : white;
	float: left;
	padding: 10px 0px 0px 0px;
}

.bg-page-profile {
  overflow: hidden;
}
.menu-profile {
  float: left;
  width: 245px;
  background: rgb(46, 41, 50);
}
.menu-profile ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.menu-profile ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.menu-profile ul li a:hover,
.menu-profile ul li a.active {
  background: orange;
}
.profile_content {
  width: 835px;
  float: left;
  padding: 10px;
  background: white;
}
